.pages{
 height:100%; 
}
.pages .page-header {
    height: 35%;
    width: 100%;
    padding: 10px 0 30px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
    display: inline-block;
}
.pages .page-header .heading{
    font-size: 50px;
    font-weight: 700;
    padding: 5px 0 10px 0;
}
.pages .page-header .heading-details {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #777777;
}

.page-redirect-container{
    border-style: solid;
    border-width: 1px;
    color: #777777;
    box-sizing: border-box;
    border-radius: 5px;
    width: 190px;
    height: 40px;
    padding: 10px;
    display: flex;
    margin: 30px 0 30px 0;
    justify-content: center;
    font-size: 15px;
    text-decoration: none;
}

.pages .about-details-container{
    height: 32%;
    width: 100%;
    padding: 40px 0 60px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
}

.pages .about-details-container .about-details {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    vertical-align: top;
}

.pages .about-details-container .about-details .heading{
    font-size: 40px;
    font-weight: 700;
}
.pages .about-details .details {
    padding-top: 20px;
    color: #777777;
}

.pages .about-experience-container {
    height: 32%;
    width: 100%;
    padding: 40px 0 60px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
}

.pages .about-experience-container .experience-heading{
    font-size: 40px;
    font-weight: 700;
}

.pages .about-experience-container .experience-subcontainer {
    height: 32%;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FAFAFA;
}

.pages .about-experience-container .experience-subcontainer .job{
    padding-left: 50px;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    vertical-align: top;
}

.pages .about-experience-container .experience-subcontainer .job .job-title{
    font-weight: 600;
}

.pages .about-experience-container .experience-subcontainer .job .job-details{
    color: #777777;
    font-size: 0.95em;
    padding: 5px 0 5px 0;
}

.pages .about-experience-container .experience-subcontainer .job-description{
    padding-right: 50px;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    vertical-align: top;
    color: #777777;
}

.contact-container{
    height: 32%;
    width: 100%;
    padding: 40px 0 60px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
}

.contact-container .sub-container{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    vertical-align: top;
}

.contact-container .heading{
    font-size: 20px;
    font-weight: 700;
}

.contact-item{
    color: #777777;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;   
    cursor: pointer;
    vertical-align: top;
}

.contact-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 45px;
}

table, th, td {
    padding: 15px;
}

.stackContainer{
    display: grid;
    justify-content: center;
    padding: 50px;
    height: 32%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
}

.stackItemContainer{
    display: table-cell;
    padding: 25px 150px;
    text-align: left;
}

.stackItemContainer span{
    font-size: 25px;
    font-weight: 650;
    text-align: center;
}
.flex-container{
    display: flex;
    align-items: center;
}

.iconContainer {
    display: flex;
    font-size: 40px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background: #FAFAFA;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 15px 0 0;

}